* {box-sizing: border-box ; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
    position: relative;
    z-index: 1;
    align-items: center;
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

header.sticky {
    position: sticky;
    top: 0;
}

img.logo1{
    width: 250px;
}

.logo2{
    width: 220px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

main {
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}


.moto {
    background-image: url('../img/delivery.jpg');
    background-size: cover;
    border-radius: 5px;
    display: flex;
    height: 428px;
    justify-content:center;
    margin: 2px;
    width: 600px;
}

section.moto h2 {
    margin: 30px 0px 0px 7px;
}

.rojo {
    color: #FC200C;
    font-size: 26px;
    text-align: center;
}

.blanco {
    color: #ffffff;
    font-size: 26px;
}

main section.podio {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    padding: 30px 0 0 0;
    width: 600px;   
}

.podio_top {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 70px 70px 30px;
    

}

div.armapizza img {
    width: 150px;
}

div.pizzastop {
    color: #222222;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: column;
    height: 230px;
    justify-content: space-around;
}

h3 {
    text-align: center;
    font-size: 22px;
}

ol {
    line-height: 30px;
    font-size: 18px;
}

footer {
    align-items: center;
    background-color: #222222;
    display: flex;
    height: 150px;
    justify-content: space-between;
    padding: 20px 50px 20px 30px;
}

footer nav {
    display: flex;
    flex-direction: column;
}
.item {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

